{% extends "base.html" %} {%block title%} USA Charts Covid {%endblock%} {% block content %}
<h1 class="text-muted">About this Project</h1>

<div style="border: 4px solid;">
  <div id="div_state" class="ml-4" style="border: 1px solid;">
    <h1>State Name</h1>
  </div>
  <div id="div_charts" class="row" style="border: 1px solid red;">
    <div id="div_cases" class="col ml-4" style="border: 2px solid yellow;">
      <div id="div_chart_cases" style="border: 1px solid;">chart for cases goes here</div>
      <div id="div_numbers_cases" style="border: 1px solid;">numbers for cases goes here</div>
    </div>
    <div id="div_deaths" class="col mr-4" style="border: 2px solid yellow;">
      <div id="div_chart_cases" style="border: 1px solid;">chart for deaths goes here</div>
      <div id="div_numbers_cases" style="border: 1px solid;">numbers for deaths goes here</div>
    </div>
  </div>
</div>

<p class="lead">This app was created by Rachel Friedman for class CISC 3140, Summer 2020, Professor Katherine Chuang.</p>
<p class="lead"><b>It utilizes the following technologies:</b></p>
<ul class="lead">
  <li>Flask</li>
  <li>Wtforms</li>
  <li>Bootstrap</li>
  <li>Plotly</li>
  <li>Heroku</li>
  <li>Git</li>
</ul>

<p class="lead"><b>Features to be added:</b></p>
<ul class="lead">
  <li>additional data sources, using API technologies (for assignment 5)</li>
  <li>more control with date features</li>
  <li>line charts comparing two or more states</li>
  <li>SQLAlchemy for database integration</li>
</ul>

{%endblock%}
