{% extends "base.html" %} {%block title%} Covid19 Charts {%endblock%} {% block content %}
<h1 class="font-weight-normal">About this Project</h1>

<p class="lead">This app was created by Rachel Friedman for class CISC 3140, Summer 2020, Professor Katherine Chuang.</p>
<p class="lead"><b>It utilizes the following technologies:</b></p>
<ul class="lead">
  <li>Flask</li>
  <li>Wtforms</li>
  <li>Bootstrap</li>
  <li>Plotly</li>
  <li>Heroku</li>
  <li>Git</li>
</ul>

<p class="lead"><b>Features to be added:</b></p>
<ul class="lead">
  <li>give user the ability to change the dates</li>
  <li>line charts comparing two or more states</li>
  <li>display data tables for states</li>
  <li>fix redirect issue for select_state</li>
  <li>SQLAlchemy for database integration</li>
  <li>add Johns Hopkins as a data source</li>
  <li>Most important: increase the speed at which it downloads the (ctp) data</li>
</ul>

{%endblock%}
