{% extends "base.html" %} {%block title%} USA Charts Covid {%endblock%} {% block content %}
<h1 class="font-weight-normal">About this Project</h1>

<p class="lead">This app was created by Rachel Friedman for class CISC 3140, Summer 2020, Professor Katherine Chuang.</p>
<p class="lead"><b>It utilizes the following technologies:</b></p>
<ul class="lead">
  <li>Flask</li>
  <li>Wtforms</li>
  <li>Bootstrap</li>
  <li>Plotly</li>
  <li>Heroku</li>
  <li>Git</li>
</ul>

<p class="lead"><b>Features to be added:</b></p>
<ul class="lead">
  <li>additional data sources, using API technologies (for assignment 5)</li>
  <li>give user the ability to change the dates</li>
  <li>line charts comparing two or more states</li>
  <li>SQLAlchemy for database integration</li>
  <li>add proper form validation (don't allow more than 50 states)</li>
</ul>
<hr />

{%endblock%}
