{% extends "base.html" %} {%block title%} USA Charts Covid {%endblock%} {% block content %}
<h1 style="text-align: center; color: red;" class="font-weight-normal">** To be implemented for Assignment 5**</h1>

<p>
  The next part of this assignment will place a larger emphasis on the data sources. Instead of this page, the "Choose data source" link in
  the nav bar will return a dropdown with a list of data sources that the user can choose. The charts will then populate according to their
  chosen data source and other choices.
</p>
<p><b>Users will have the following choices for data sources:</b></p>
<ul>
  <li>New York Times</li>
  <li>Johns Hopkins</li>
  <li>Covid Tracking Project</li>
  <li>Our World In Data</li>
</ul>
Include links, logos etc.
<hr />

{%endblock%}
