{% extends "base.html" %} {%block title%} Covid19 by {{category}} {%endblock%} Form.html {%block content%}

<form method="POST" action="#">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <legend class="border-bottom mb-4">View states currently reporting the most new {{category}}.<span class="italic font-weight-lighter"> Please be patient for data to load. </span></legend>

  <div class = "row"> 
 
    <div class = "col-3">{{ form.starting_date.label(class="form-control-label") }} {{ form.starting_date(class="form-control form-control-lg") }}</div>
 
    <div class = "col-3">{{ form.amount.label(class="form-control-label") }} {{ form.amount(class="form-control form-control-lg") }}</div>

    <div class = "col-2 d-flex flex-column justify-content-end"> {{ form.submit(class="btn btn-outline-info  form-control-lg") }} </div>
</div>

</form>

{%endblock%}
