<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="#" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500, 600, 700, 800" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/get_usa_chart', { },
        function(data) { }); return false; }); }); </script>

    <!-- D3.js -->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script-->
    
    <!--script src="https://code.jquery.com/jquery-3.1.1.min.js"></script-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Plotly.js -->
    <!--script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <!--script type="text/javascript" src="/static/js/scripts.js"></script-->

    <title>Tracking Covid19 in the Fifty States</title>
  </head>
  <body>
    <div class="container" style="border: 1px solid;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"> Covid States Stats </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">News</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">NY Times</a>
                <a class="dropdown-item" href="#">Washington Post</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">BBC News</a>
              </div>
            </li>
            <li class="nav item">
              <a class="nav-link" href="#">Stay Safe</a>
            </li>
            <li class="nav item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron text-center">
        <h1 class="display-4">Covid19 Stats in the United States</h1>
        <p class="lead">
          View the two states with the greatest increase today, or select two different states of your choice.
        </p>
        <div class="row justify-content-center">
          <a class="btn btn-primary btn-lg mr-4" role="button" href="/get_usa_chart/" >USA </a>
          <a class="btn btn-primary btn-lg mr-4 dropdown-toggle" role="button"  id="testing" data-toggle="dropdown">Select State </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/get_states_chart/">New York</a>
            <a class="dropdown-item" href="/get_states_chart/">California</a>
            <a class="dropdown-item" href="/get_states_chart/">Florida</a>
        </div>
          <!--button onclick="msg()">testing msg function</button-->
      
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <div id="usa1" style="height:350px;"></div>
              <a href="#" class="card-link">more info</a>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <div id="usa2" style="height:350px;"></div>
              <a href="#" class="card-link">more info</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <div id="states1" style="height:350px;"></div>
              <a href="#" class="card-link">more info</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <div id = "states2" style="height:350px;"></div>
              <a href="#" class="card-link">more info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var graph_usa_cases = {{graphJSON_usa_cases | safe}};
      var graph_usa_deaths = {{graphJSON_usa_deaths | safe}};
      var graph_states_cases = {{graphJSON_states_cases | safe}};
      var graph_states_deaths = {{graphJSON_states_deaths | safe}};

      var layout1 = {
          title: {
            text:'<span style="font-weight:600"> United States New Cases </span>', 
            font: {
            family: 'Raleway',
            size: 18
            }},
        };
 
        var layout2 = {
          title: {
            text:'<span style="font-weight:600"> United States New Deaths </span>', 
            font: {
            family: 'Raleway',
            size: 18
            }},
        };

        var layout3 = {
          title: {
            text:'<span style="font-weight:600"> California New Cases </span>', 
            font: {
            family: 'Raleway',
            size: 18
            }},
        };
 
        var layout4 = {
          title: {
            text:'<span style="font-weight:600"> California New Deaths </span>', 
            font: {
            family: 'Raleway',
            size: 18
            }},
        };

        var config = {responsive: true}

        if(graph_usa_cases.length>0){
            Plotly.newPlot('usa1',graph_usa_cases,layout1, config);
            Plotly.newPlot('usa2',graph_usa_deaths,layout2,config);
            var update = {
                title: {text:"Deaths"},
                opacity: 0.4,
                'marker.color': 'green'
            };
            Plotly.restyle(usa2, update, 0);
        };

        if(graph_states_cases.length>0){
            Plotly.newPlot('states1',graph_states_cases,layout3, config);
            Plotly.newPlot('states2',graph_states_deaths,layout4,config);
            var update = {
                title: {text:"Deaths"},
                opacity: 0.4,
                'marker.color': 'red'
            };
            Plotly.restyle(states2, update, 0);
        };

    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!--script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script-->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
