{%extends "base.html"%} {%block title%} View by Cases {%endblock%} {% block content %}
<div id="main" class="row">
  <div id="div_left" class="col"></div>
  <div id="div_right" class="col"></div>
</div>

<script>
    var states_list = {{states | safe}};
    var max_deaths = {{max_deaths | safe}};
    var max_cases = {{max_cases | safe}};

    var msg_txs = "* On 7/27/20, Texas state health officials changed their method of reporting, adding deaths not previously reported.";
    console.log(states_list);
    var layoutNEW = {
    title: {
      text:'<span style="font-weight:600"><br> Daily New Deaths </span>',
      font: {
      family: 'Raleway',
      size: 18
      }},
      margin:{
        l:60,
        r:30,
        b:30,
        t:50,
        pad: 4
      }
  };
</script>

{% for row in data_cases %}
<script>
  var x = {{loop.index}}-1;
  var layoutNEW = {
    title: {
      text:'<span style="font-weight:600"><br>' + states_list[x] + ' Daily New Cases </span>',
      font: {
      family: 'Raleway',
      size: 18
      }},
      margin:{
        l:60,
        r:30,
        b:30,
        t:50,
        pad: 4
      }
  };
  var config = {responsive: true};
  var data = {{row | safe}};
  div_left.appendChild(document.createElement("hr"));
  var state_name = document.createElement("h2");
  state_name.setAttribute("id", "st_name"+x);
  state_name.innerHTML = x+1+". " +states_list[x];
  div_left.appendChild(state_name);
  var newDiv = document.createElement("div");
  newDiv.setAttribute("id", "states_cases"+x);
  newDiv.style.height = "350px";
  div_left.appendChild(newDiv);
  Plotly.newPlot('states_cases'+x,data,layoutNEW, config);
  if(states_list[x]== "Texas"){
    div_spacer = document.createElement("div");
    div_spacer.style.height = "54px";
    div_left.appendChild(div_spacer);
    }
  /*var update = {
      title: 'some new title', // updates the title
  };
  Plotly.relayout(newDiv, update)*/
  var div_stats = document.createElement("div");
  div_stats.style.position = "relative";
  div_stats.style.height = "50px";
  div_left.appendChild(div_stats);
  var div_stats01 = document.createElement("div");
  div_stats01.style.position = "absolute";
  div_stats01.style.bottom = "0";
  div_stats01.style.right = "0";
  div_stats.appendChild(div_stats01);
  var num_cases = document.createElement("h2");
  num_cases.setAttribute("id", "state"+x+"_cases");
  num_cases.setAttribute("class", "text-muted");
  num_cases.innerHTML = "+"+max_cases[x];
  div_stats01.appendChild(num_cases);
  var div_stats02 = document.createElement("div");
  div_stats02.style.position = "absolute";
  div_stats02.style.bottom = "0";
  div_stats02.style.right = "100px";
  div_stats.appendChild(div_stats02);
  var date_cases = document.createElement("h6");
  date_cases.setAttribute("name", "latest_date_"+x+"_cases");
  date_cases.setAttribute("class", "text-muted");
  date_cases.innerHTML = "{{curr_date}}";
  div_stats02.appendChild(date_cases);
</script>
{% endfor %} {% for info in data_deaths %}
<script>
  var x = {{loop.index}}-1;
  var layout2 = {
    title: {
      text:'<span style="font-weight:600"><br>' + states_list[x] + ' Daily New Deaths </span>',
      font: {
      family: 'Raleway',
      size: 18
      }},
      margin:{
        l:60,
        r:30,
        b:30,
        t:50,
        pad: 4
      }
  };
  var config = {responsive: true}
  var data = {{info | safe}};
  div_right.appendChild(document.createElement("hr"));
  var state_name = document.createElement("h2");
  state_name.setAttribute("id", "st_name"+x);
  state_name.innerHTML = states_list[x];
  state_name.setAttribute("class" , "text-white");
  //div_right.appendChild(state_name);

  var div_img = document.createElement("div");
  div_img.setAttribute("style", "text-align: right");
  var state_flag = document.createElement("img");
  var image = "/static/img/flags/" + states_list[x] + ".png";
  state_flag.setAttribute("src",image );
  state_flag.setAttribute("style", "height: 46px; border: 1px solid; ");

  state_flag.setAttribute("class", "mr-auto");
  div_right.appendChild(div_img);
  div_img.appendChild(state_flag);

  var newDiv2 = document.createElement("div");
  newDiv2.setAttribute("id", "states_deaths"+x);
  newDiv2.style.height = "350px";
  div_right.appendChild(newDiv2);
  Plotly.newPlot('states_deaths'+x,data,layout2, config);
  if(states_list[x]== "Texas"){
     var a = document.createElement("a");
     a.href="https://www.dshs.texas.gov/news/releases/2020/20200727.aspx";
     a.target = "_blank";
     var extra_info = document.createElement("p");
     extra_info.setAttribute("class" ,"small ml-5 font-weight-light font-italic btn-link mr-3");
     extra_info.innerHTML = msg_txs;
     a.appendChild(extra_info);
     div_right.appendChild(a);
   }
  var div_stats0 = document.createElement("div");
  div_stats0.style.position = "relative";
  div_stats0.style.height = "50px";
  div_right.appendChild(div_stats0);
  var div_stats1 = document.createElement("div");
  div_stats1.style.position = "absolute";
  div_stats1.style.bottom = "0";
  div_stats1.style.right = "0";
  div_stats0.appendChild(div_stats1);
  var num_deaths = document.createElement("h2");
  num_deaths.setAttribute("id", "state"+x+"_deaths");
  num_deaths.setAttribute("class", "text-muted");
  console.log(max_deaths[x]);
  num_deaths.innerHTML = "+"+max_deaths[x];
  div_stats1.appendChild(num_deaths);
  var div_stats2 = document.createElement("div");
  div_stats2.style.position = "absolute";
  div_stats2.style.bottom = "0";
  div_stats2.style.right = "100px";
  div_stats0.appendChild(div_stats2);
  var date_deaths = document.createElement("h6");
  date_deaths.setAttribute("name", "latest_date_"+x+"_deaths");
  date_deaths.setAttribute("class", "text-muted");
  date_deaths.innerHTML = "{{curr_date}}";
  div_stats2.appendChild(date_deaths);
</script>
{% endfor %} {%endblock%}
