{%extends "base.html"%}
{%block title%} View by Cases {%endblock%} {% block content %}
      <h2 class = "alert alert-primary" role="alert" text-center text-muted">{{selected_state}}</h2>
      <div name="state1" class="row">
        <div class="col-sm-12 col-md-6 mb-3">
              <div id="states1" style="height:350px;"></div>
              <div style="position: relative; height:50px">&nbsp;
                <div style="position: absolute; bottom: 0; right: 0"><h2 id="state1_cases" name="state1_cases" class="text-muted"></h2></div>
                <div style="position: absolute; bottom: 0; right: 120px"><h6 name="latest_date" class="text-muted"></h6></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-3">
              <div id = "states2" style="height:350px;"></div>
              <div style="position: relative; height:50px">&nbsp;
                <div style="position: absolute; bottom: 0; right: 0"><h2 id="state1_deaths" name="state1_deaths" class="text-muted"></h2></div>
                <div style="position: absolute; bottom: 0; right: 120px"><h6 name="latest_date" class="text-muted"></h6></div>
            </div>
        </div>
      </div>

      <hr>
      
      <h2 class = "alert alert-primary" role="alert" text-center text-muted">{{selected_state2}}</h2>
        <div name="state2" class="row">
        <div class="col-sm-12 col-md-6 mb-3">
              <div id="states3" style="height:350px; "></div>
              <h2 id="state2_cases" class="text-right text-muted" ></h2> 
        </div>
        <div class="col-sm-12 col-md-6 mb-3">
              <div id = "states4" style="height:350px;"></div>
              <h2 id="state2_deaths" class="text-right text-muted" ></h2> 
        </div>
      </div>     

      <hr>

      <h2 class = "alert alert-primary" role="alert" text-center text-muted">{{selected_state3}}</h2>
      <div name="state3" class="row">
        <div class="col-sm-12 col-md-6 mb-3">
              <div id="states5" style="height:350px; "></div>
              <h2 id="state3_cases" class="text-right text-muted" ></h2> 
            </div>
        <div class="col-sm-12 col-md-6 mb-3">
              <div id = "states6" style="height:350px; "></div>
              <h2 id="state3_deaths" class="text-right text-muted" ></h2> 
            </div>
      </div>  

      <hr>

    </div>
    
    <script type="text/javascript">

      var max_cases = {{max_3_cases | safe}};
      var max_deaths = {{max_3_deaths | safe }};
      document.getElementById("state1_cases").innerHTML = "+"+max_cases[0];
      document.getElementById("state1_deaths").innerHTML = "+"+max_deaths[0];
      document.getElementById("state2_cases").innerHTML = "+"+max_cases[1];
      document.getElementById("state2_deaths").innerHTML = "+"+max_deaths[1];
      document.getElementById("state3_cases").innerHTML = "+"+max_cases[2];
      document.getElementById("state3_deaths").innerHTML = "+"+max_deaths[2];
      /*for(i=0; i<2; i++){
        document.getElementsByName("latest_date")[i].innerHTML =  "{{curr_date}}";
      }*/
    </script>
      
      <script type="text/javascript">

      var graph_states_cases = {{graphJSON_states_cases | safe}};
      var graph_states_deaths = {{graphJSON_states_deaths | safe}};
      var graph_states2_cases = {{graphJSON_states2_cases | safe}};
      var graph_states2_deaths = {{graphJSON_states2_deaths | safe}};
      var graph_states3_cases = {{graphJSON_states3_cases | safe}};
      var graph_states3_deaths = {{graphJSON_states3_deaths | safe}};
     /*var graphs_allstates_cases = {{graphsJSON_cases | safe}};
      var graphs_allstates_cases = {{graphsJSON_deaths | safe}};
      //use the above 2 arrays to create divs and elements dynamically....
      */

        var layout1 = {
          title: {
            text:'<span style="font-weight:600"><br> Daily New Cases </span>', 
            font: {
            family: 'Raleway',
            size: 18
            }},
            margin:{
              l:60,
              r:30,
              b:30,
              t:50,
              pad: 4
            }
        };
 
        var layout2 = {
          title: {
            text:'<span style="font-weight:600"> <br> Daily New Deaths </span>', 
            font: {
            family: 'Raleway',
            size: 18}
            },
            margin:{
              l:60,
              r:30,
              b:30,
              t:50,
              pad: 4
            }
        };
        var config = {responsive: true}

        if(graph_states_cases.length>0){
            Plotly.newPlot('states1',graph_states_cases,layout1, config);
            Plotly.newPlot('states2',graph_states_deaths,layout2,config);
            /*var update = {
                opacity: 0.4,
                'marker.color': 'teal'
            };
            Plotly.restyle(states2, update, 0);*/
            Plotly.newPlot('states3',graph_states2_cases,layout1, config);
            Plotly.newPlot('states4',graph_states2_deaths,layout2,config);
            Plotly.newPlot('states5',graph_states3_cases,layout1, config);
            Plotly.newPlot('states6',graph_states3_deaths,layout2,config);          
        };

    </script>
{%endblock%}