{% extends "base.html" %} {%block title%} USA Charts Covid {%endblock%} {% block content %}

<div id="usa" class="row">
  <div class="col-sm-12 col-md-6 mb-3">
    <div id="usa1" style="height: 350px;"></div>
    <div style="position: relative; height: 50px;">
      <div style="position: absolute; bottom: 0; right: 0;"><h2 id="usa_cases" name="usa_cases" class="text-muted"></h2></div>
      <div style="position: absolute; bottom: 0; right: 140px;"><h6 name="latest_date" class="text-muted"></h6></div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 mb-3">
    <div id="usa2" style="height: 350px;"></div>
    <div style="position: relative; height: 50px;">
      <div style="position: absolute; bottom: 0; right: 0;"><h2 id="usa_deaths" name="usa_deaths" class="text-muted"></h2></div>
      <div style="position: absolute; bottom: 0; right: 100px;"><h6 name="latest_date" class="text-muted"></h6></div>
    </div>
  </div>
</div>

<script type="text/javascript">


  var graph_usa_cases = {{graphJSON_usa_cases | safe}};
  var graph_usa_deaths = {{graphJSON_usa_deaths | safe}};

  document.getElementById("usa_cases").innerHTML = "+{{usa_increase_cases}}";
  document.getElementById("usa_deaths").innerHTML = "+{{usa_increase_deaths}}";
  for(i=0; i<2; i++){
      document.getElementsByName("latest_date")[i].innerHTML =  "{{curr_date}}";
  }

  var layout1 = {
      title: {
        text:'<span style="font-weight:600"> United States Daily New Cases </span>',
        font: {
        family: 'Raleway',
        size: 18
        }},
        margin:{
          l:60,
          r:30,
          b:30,
          t:30,
          pad: 4
        }
    };

    var layout2 = {
      title: {
        text:'<span style="font-weight:600"> United States Daily New Deaths </span>',
        font: {
        family: 'Raleway',
        size: 18}
        },
        margin:{
          l:60,
          r:30,
          b:30,
          t:30,
          pad: 4
        }
    };;


    var config = {responsive: true}

    if(graph_usa_cases.length>0){
        Plotly.newPlot('usa1',graph_usa_cases,layout1, config);
        Plotly.newPlot('usa2',graph_usa_deaths,layout2,config);
    };
</script>
{% endblock %}
