{% extends "base.html" %} {%block title%} Covid19 Charts USA {%endblock%} {% block content %}
<div id="row_data" class="row justify-content-center">
  <div>
    <h5 class="text-muted font-weight-normal" "><a href="/data_tables">View Daily Data for USA</a></h5>
  </div>
</div>
<div id="usa" class="row">
  <div class="col-sm-12 col-md-6 mb-3">
    <div id="usa1" style="height: 400px;"></div>
    <div style="position: relative; height: 50px;">
      <div style="position: absolute; bottom: 0; right: 0;">
        <h2 id="usa_cases" class="font-weight-light">+{{usa_increase_cases}}</h2>
      </div>
      <div style="position: absolute; bottom: 0; right: 140px;"><h6 class="text-muted font-weight-light">{{curr_date}}</h6></div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 mb-3">
    <div id="usa2" style="height: 400px;"></div>
    <div style="position: relative; height: 50px;">
      <div style="position: absolute; bottom: 0; right: 0;">
        <h2 id="usa_deaths" class="font-weight-light">+{{usa_increase_deaths}}</h2>
      </div>
      <div style="position: absolute; bottom: 0; right: 100px;"><h6 class="text-muted font-weight-light">{{curr_date}}</h6></div>
    </div>
  </div>
</div>

<script>
  var graph_usa_cases = {{graphJSON_usa_cases | safe}};
  var graph_usa_deaths = {{graphJSON_usa_deaths | safe}};
  var layout1 = {
      title: {
        text:'<span style="font-weight-light"><br> United States Daily New Cases </span>',
        font: {
        family: 'Raleway',
        size: 18
        }},
        margin:{
          l:60,
          r:30,
          b:30,
          t:90,
          pad: 4
        }
    };
  var layout2 = {
      title: {
        text:'<span style="text-muted font-weight-light"><br> United States Daily New Deaths </span>',
        font: {
        family: 'Raleway',
        size: 18}
        },
        margin:{
          l:60,
          r:30,
          b:30,
          t:90,
          pad: 4
        }
    };;
  var config = {responsive: true}
    if(graph_usa_cases.length>0){
        Plotly.newPlot('usa1',graph_usa_cases,layout1, config);
        Plotly.newPlot('usa2',graph_usa_deaths,layout2,config);
    };
</script>
{% endblock %}
